.slug_body {
  color: #333333;
  width: 100%;
}

.slug_body h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2.8rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.slug_body h3 {
  font-size: 1.6rem;
  font-weight: bolder;
  margin-top: 2.8rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.slug_body h4 {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-top: 2.8rem;
  margin-bottom: 1rem;
  padding: 0.3rem 0;
}

/* bタグとして使う(´・ω・｀) */
.slug_body h5 {
  font-size: 1.1rem;
  font-weight: bolder;
  line-height: 1.9rem;
}

.slug_body p {
  font-size: 1.1rem;
  line-height: 2.1rem;
}

.slug_body strong {
  font-size: 1.1rem;
  line-height: 2.1rem;
  font-weight: bold;
}

.slug_body ul{
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.slug_body li{
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.slug_body li:last-child{
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.slug_body img {
  max-width: 100%;
}

.slug_body blockquote {
  margin: 8px 0;
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.slug_body blockquote>:first-child {
  margin-top: 0;
}

.slug_body blockquote>:last-child {
  margin-bottom: 0;
}

.slug_body pre {
  background-color: #e5e5e6;
  border-radius: 6px;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.slug_body code {
  background-color: #e5e5e6;
  border-radius: 6px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.slug_body pre code {
  padding: 0;
}