.slug_body {
  color: #333333;
  width: 100%;
}

.slug_body h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2.8rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.slug_body h3 {
  font-size: 1.6rem;
  font-weight: bolder;
  margin-top: 2.8rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.slug_body h4 {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-top: 2.8rem;
  margin-bottom: 1rem;
  padding: 0.3rem 0;
}

/* bタグとして使う(´・ω・｀) */
.slug_body h5 {
  font-size: 1.1rem;
  font-weight: bolder;
  line-height: 1.9rem;
}

.slug_body p {
  font-size: 1.1rem;
  line-height: 2.1rem;
}

.slug_body strong {
  font-size: 1.1rem;
  line-height: 2.1rem;
  font-weight: bold;
}


/* .slug_body br {
  display: block;
  content: "";
  margin: 0.9rem 0;
} */

.slug_body ul{
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.slug_body li{
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.slug_body li:last-child{
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.slug_body img {
  max-width: 100%;
}

.slug_body pre {
  /* width: 100px; */
  width: 100%;
	/* white-space: pre-wrap; */
  overflow-x:scroll;
}

.slug_body code {
  overflow-x:scroll;
}

blockquote {
  position: relative;
  padding: 10px 15px 10px 50px;
  box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  color: #555;
}

blockquote:before{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -3px;
  content: "“";
  font-family: sans-serif;
  color: #cfcfcf;
  font-size: 90px;
  line-height: 1;
}

blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}