.slug_body {
  color: #333333;
}

.slug_body h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.slug_body h3 {
  font-size: 1.6rem;
  font-weight: bolder;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.slug_body h4 {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
}

/* bタグとして使う(´・ω・｀) */
.slug_body h5 {
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.9rem;
}

.slug_body p {
  font-size: 1rem;
  line-height: 1.9rem;
}

.slug_body ul{
  font-size: 1rem;
  line-height: 1.6rem;
}

.slug_body li{
  font-size: 1rem;
  line-height: 1.6rem;
}

.slug_body li:last-child{
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.slug_body img {
  max-width: 100%;
}